.header-container {
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}

.period-toggles {
  margin-right: 20px;
}

::ng-deep .mat-button-toggle {
  border-radius: 20px;
  margin: 0 5px;
  padding: 5px 15px;
  background-color: #E6E6E6;
  color: #333333;
  font-size: 14px;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #0052CC;
  color: white;
}

.print-button {
  background-color:  white;
  color: #0052CC;
  border-radius: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.print-button mat-icon {
  margin-right: 5px;
}