<div class="header-container">
    <h1>Clinic Outcomes</h1>
    <div class="controls">
      <mat-button-toggle-group [value]="selectedPeriod$ | async" (change)="onPeriodSelect($event.value)" class="period-toggles">
        <mat-button-toggle *ngFor="let period of periods" [value]="period">{{ period }}</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-stroked-button (click)="print()" class="print-button" matTooltip="Print">
        <mat-icon>print</mat-icon>
        Print
      </button>
    </div>
  </div>